Makefile
Makefile.old
Build
Build.bat
MANIFEST.bak
MANIFEST.SKIP.bak
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
local/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
MooX-Role-HasLogger-*
MooX-Role-HasLogger-*.tar.gz
